<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="">Company Perks</h3>
                <p class="lead">
                  We've put together a bunch of really cool perks that we hope will make working here as good as it can be.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>





    <div class="section section-lg pt-lg-0 mt--200">
           <div class="container">
               
<hr>
<div class="row ">
                  <div class="col-lg-7">
                    <p>
                    
                    </p>
                    <div class="collapse" id="collapseExample1">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck2" type="checkbox">
                            <label class="custom-control-label" for="customCheck2">Physical Wellbeing</label>
                            <p class="small text-muted">Develop body awareness and feel in control of your health.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Emotional Wellbeing</label>
                            <p class="small text-muted">Decrease stress and become attentive to your thoughts, feelings and behaviors.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck3" type="checkbox">
                            <label class="custom-control-label" for="customCheck3">Financial Wellbeing</label>
                            <p class="small text-muted">Help your day-to-day finances with discounts on goods and services.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck4" type="checkbox">
                            <label class="custom-control-label" for="customCheck4">Occupational Wellbeing</label>
                            <p class="small text-muted">Enjoy your work and learn to balance it with your leisure time.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck5" type="checkbox">
                            <label class="custom-control-label" for="customCheck5">Creative Wellbeing</label>
                            <p class="small text-muted">Engage in stimulating creative and mental activities and develop your knowledge and skills.</p>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample3">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
                            <label class="custom-control-label" for="customRadio1">
                              <span>Most Popular</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Recently Added</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Credit Value</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
                            <label class="custom-control-label" for="customRadio5">
                              <span>Alphabetical</span>
                            </label>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample2">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                                  <label class="custom-control-label" for="customCheck6">Health & Wellbeing (50)</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck7" type="checkbox">
                                  <label class="custom-control-label" for="customCheck7">Fitness (20)</label>
                                  
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck8" type="checkbox">
                                  <label class="custom-control-label" for="customCheck8">Language Learning (12)</label>
                                
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck9" type="checkbox">
                                  <label class="custom-control-label" for="customCheck9">Film & Entertainment (10)</label>
                                  
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Mindfulness & Meditation (11)</label>
                                   
                                </div>

                              </div>

                              <div class="col-lg-6">
                                
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck10" type="checkbox">
                                  <label class="custom-control-label" for="customCheck10">Music (15)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Photography (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Fashion (1)</label>
                                   
                                </div>
                            </div>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-5">
                  <p class="float-right align-bottom"></p>
                </div>
              </div>
            <br>

<div class="row">
  <div class="col-lg-12">
    <h4>Because you're a Perkboxer</h4>
    <p class="text-muted">We value everybody that works here, check out these awesome perks.</p>
    <br>
  </div>
</div>

                <div class="row text-center justify-content-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Medical</h4>
                          <p class="text-muted small">Access to an online GP</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Sanctus</h4>
                          <p class="text-muted small">Free yearly eye tests</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Cinema Ticket</h4>
                          <p class="text-muted small">Free yearly eye tests</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Beer On Fridays</h4>
                          <p class="text-muted small">Monthly massages</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <section class="section section-lg pt-0">
      <div class="">
        <div class="card bg-gradient-danger shadow-lg border-0">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <h2 class="text-white">Access Hundreds Of Financial Discounts</h2>
                <p class="lead text-white mt-3">100s of discounts at local restaurants, retailers and online shops. Link your card to earn back credit while you spend locally.</p>
                <br>
                <div class="row">
                    <div class="col-md-1
                    ">
                      <img class="img-fluid" src="/assets/billswhite-c0f4a69df314de1121f5252ec37414c3247d65e74e6f27f049844f7f2b3ff6e0.png">
                    </div>
                    <div class="col-md-1">
                      <img class="img-fluid" src="/assets/hmwhite-447826b9735b13dff2a4b62bbf19c13a7ac55648ac891a8d2d96761a8e703634.png">
                    </div>
                    <div class="col-md-2">
                      <img class="img-fluid" src="/assets/paperchase-0edc57abebb9d77921e727c84b48b299d4b577e284175f887ed7ebde178b533e.png">
                    </div>
                    <div class="col-md-2">
                      <img class="img-fluid" src="/assets/hb-07d8570a4ff69bd0dff77a04ba9039f13d2797fa2bbc814305841625c793bf19.png">
                    </div>
                  </div>
              </div>
              <div class="col-lg-3 ml-lg-auto">
                <a href="/pages/financial">
                  <button type="button" class="btn btn-lg btn-block btn-white">Explore</button>
</a>              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


                  <div class="row">
                  <div class="col-lg-12">
                    <h4>Because You're A Manager </h4>
                     <p class="text-muted">Managing people is hard. We get it. That's why we've given you a little extra</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>HeadSpace</h4>
                          <p class="text-muted small">In house conselling</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Spotify</h4>
                          <p class="text-muted small">Employee assistance program</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Leadership</h4>
                          <p class="text-muted small">Feel supported</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Asos</h4>
                          <p class="text-muted small">£50 Voucher</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                  <br>
                  <br>
                  <br>

                <div class="row">
                  <div class="col-lg-12">
                    <h4>Because we think you're awesome</h4>
                    <p class="text-muted">These are perks that have been given to you by you manager or company because of the great things you've done.</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Netflix</h4>
                          <p class="text-muted small">Apple</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>1 Day Holiday</h4>
                          <p class="text-muted small">Bill's Resaurant</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Starbucks</h4>
                          <p class="text-muted small">£10 Voucher</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="row">
                  <div class="col-lg-12">
                    <h4>Unlock More Perks</h4>
                    <p class="text-muted">It would be mad of us not to reward high performers and people that embody our values with a little more.</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <span class="badge badge-pill badge-danger"><i class="fa fa-lock"></i> Locked</span>
                          <h4>2 Days Holiday</h4>
                          <p class="text-muted small">Just me</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <span class="badge badge-pill badge-danger"><i class="fa fa-lock"></i> Locked</span>
                          <h4>Dinner</h4>
                          <p class="text-muted small">Team</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <span class="badge badge-pill badge-danger"><i class="fa fa-lock"></i> Locked</span>
                          <h4>Team Outing</h4>
                          <p class="text-muted small">Team</p>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>   

                   <br>
                  <br>
                  <br>
                  




  </main>