<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Company Perks</h3>
                <p class="lead">
                  Checkout the perks your company have carefully curated for you.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>





<div class="section section-sm pt-lg-0 mt--200">
       <div class="container">
          
<hr>

<div class="row">
                  <div class="col-lg-12">
                    <h4>Because You're Part Of Our Company...</h4>
                    <br>
                  </div>
                </div>



                <div class="row text-center justify-content-center">
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Medical</h4>
                              <p class="text-muted small">Access Online GP</p>
                              <br>
                              
                              
                    
                            </blockquote>
                          </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Sanctus</h4>
                          <p class="text-muted small">Online Mental Wellbeing</p>
                          <br>
                          
                        </blockquote>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Cinema Vouchers</h4>
                          <p class="text-muted small">2 Free Cineworld Tickets</p>
                          <br>
                          
                        </blockquote>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Beer On Fridays</h4>
                          <p class="text-muted small">Brought to your desks!</p>
                          <br>
                          
                        </blockquote>
                      </div>
                    </div>
                  </div>

                  <div class="row text-center">
                  <div class="col-md-3">
                      <div class="card shadow shadow border-0">
                        <blockquote class="card-blockquote">
                          <i class="fa fa-lock justify-content-center" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Locked"></i>
                          <br>
                          <h4>Weekend In Paris</h4>
                          <p class="text-muted small">All expenses paid break</p>
                          <span class="badge badge-pill badge-primary">Company Award</span>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>

                    <div class="col-md-3">
                      <div class="card shadow shadow border-0">
                        <blockquote class="card-blockquote">
                          <i class="fa fa-lock justify-content-center" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Locked"></i>
                          <br>
                          <h4>1 Day Holiday</h4>
                          <p class="text-muted small">Whenever you choose</p>
                          <span class="badge badge-pill badge-primary">20000 steps</span>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>

                    <div class="col-md-3">
                      <div class="card shadow shadow border-0">
                        <blockquote class="card-blockquote">
                          <i class="fa fa-lock justify-content-center" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="" data-original-title="Locked"></i>
                          <br>
                          <h4>1 Day Holiday</h4>
                          <p class="text-muted small">Whenever you choose</p>
                          <span class="badge badge-pill badge-primary">Healthy Sleeping Patterns</span>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>

                   
                    
                  </div>
                  <div class="row text-center">
                  
                    <br>
                  </div>


  


                <div class="row">
                  <div class="col-lg-12">
                    <h4>Because You're Part Of Product & Engineering...</h4>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card shadow shadow  border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>HeadSpace.com</h4>
                          <p class="text-muted small">3 Months Subscription</p>
                          
                          <br>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow shadow  border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Spotify</h4>
                          <p class="text-muted small">3 month subscription</p>
                          
                          <br>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow shadow  border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Amazon</h4>
                        <p class="text-muted small">£50 Gift Card</p>
                       
                        <br>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card bg-secondary border-1 locked">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4 class="">Free Coffee</h4>
                          <p class="small"><i class="fa fa-clock-o"></i> Available again in 4 days</p>
                          <button class="btn btn-sm btn-primary" type="button">Gift to colleage</button>
                          <br>
                          <br>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>
                    
                  </div>

                  <br>

                  <div class="row">
                  <div class="col-lg-12">
                    <h4>Because Of The Great Things You've Done...</h4>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card shadow shadow  border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Youtube</h4>
                          <p class="text-muted small">6 Months Subscription</p>
                          <br>
                          <br>
                        </blockquote>
                      </div>
                      <br>
                    </div>

                    
                  </div>




  </main>