<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Perks</h3>
                <p class="lead">
                  We've put together a bunch of really cool perks that we hope will make working here as good as it can be.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>





<div class="section section-sm pt-lg-0 mt--200">
       <div class="container">
          
<hr>

 <div class="row">
                  <div class="col-lg-12">
                    <h4>Because You're A Spotifier...</h4>
                    <br>
                  </div>
                </div>

                <div class="row text-center justify-content-center">
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Medical</h4>
                          <p class="text-muted small">Online GP Service</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Free Registration</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Sanctus</h4>
                          <p class="text-muted small">Online Mental Wellbeing</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Free Registration</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Cinema Vouchers</h4>
                          <p class="text-muted small">2 Free Cineworld Tickets</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Beer On Fridays</h4>
                          <p class="text-muted small">In the Spotify Lab</p>
                          <a href="#" class="btn btn-secondary mt-4 btn-sm">Learn More</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card bg-secondary border-1 locked">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4 class="">Free Coffee</h4>
                          <p class="small"><i class="fa fa-clock-o"></i> Available again in 4 days</p>
                          <a href="#" class="btn btn-secondary mt-4 btn-sm" disabled>Learn More</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card border-1">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4><strike>1 Day Holiday</strike></h4>
                          <p class="text-muted small">Used on 21/2/2019</p>
                          <br>
                          <br>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                  <br>

                  <section class="section section-sm pt-0">
      <div class="">
        <div class="card shadow border-0">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <h4 class="">Access The Discounts Library</h4>
                <p class="lead mt-3">Redeem 100s of financial discount codes for local restaurants, retailers and online shops.</p>
                <br>
                <a href="#">
                  <button type="button" class="btn btn-primary">Explore</button>
                </a>
                <br>
                <br>
                
              </div>
              <div class="col-lg-3">
                <div class="card border-2">
                  <blockquote class="card-blockquote">
                    <br>
                    <h4>Waterstones</h4>
                    <p class="text-muted">30% Off</p>
                  </blockquote>
                </div>
                <br>
                
              </div>

              <div class="col-lg-3">
                <div class="card border-2">
                  <blockquote class="card-blockquote">
                    <br>
                    <h4>Apple</h4>
                    <p class="text-muted">30% Off</p>
                  </blockquote>
                </div>
                <br>
                
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <br>

  


                <div class="row">
                  <div class="col-lg-12">
                    <h4>Because You're A Manager...</h4>
                     <p class="text-muted">Managing people is hard. We get it. That's why we've given you a little extra.</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card border-1">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4><strike>HeadSpace</strike></h4>
                          <p class="text-muted small">3 month subscription used on 15/2/2019</p>
                          <a href="#" class="btn btn-secondary mt-4 btn-sm" disabled>Open App</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Spotify</h4>
                          <p class="text-muted small">3 month Subscription</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm" disabled>Redeem Gift Code</a>
                          <br>
                          <br>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Asos</h4>
                        <p class="text-muted small">£50 Voucher</p>
                        <a href="#" class="btn btn-primary mt-4 btn-sm" disabled>Redeem Gift Code</a>
                        <br>
                          <br>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small">Added by Your Company</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    
                  </div>

                  <br>

                <div class="row">
                  <div class="col-lg-12">
                    <h4>Because of the great things you've done...</h4>
                    <p class="text-muted">These are perks that have been given to you by you manager or company because of the great things you've done. (*Only shown if companies aren't using crdit with employees, otherwise, reward with credit*)</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                  <div class="col-md-3">
                      <div class="card border-1">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4><strike>Netflix</strike></h4>
                          <p class="text-muted small">3 Month subscription used on 3/12/2018</p>
                          <a href="#" class="btn btn-secondary mt-4 btn-sm" disabled>Open App</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <p class="text-muted small">Added by Your Manager for <span class="badge badge-pill badge-primary">Company Value</span></p>
                          </span>
                        </div>
                      </div>
                                          <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>1 Day Holiday</h4>
                          <p class="text-muted small">A day of your choosing</p>
                          <br>
                          <a href="#" class="btn btn-primary mt-4 btn-sm" disabled>Choose Day</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <p class="text-muted small">Added by Your Manager for <span class="badge badge-pill badge-primary">Company Value</span></p>
                          </span>
                        </div>
                      </div>
                                                                <br>
                    </div>
                    <div class="col-md-3">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Starbucks</h4>
                          <p class="text-muted small">£20 Voucher</p>
                          <br>
                          <a href="#" class="btn btn-primary mt-4 btn-sm" disabled>Redeem Gift Code</a>
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <p class="text-muted small">Added by Your Manager for <span class="badge badge-pill badge-primary">Company Value</span></p>
                          </span>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                  
                  




  </main>