<main>
      <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Credit Available · <i class="fa fa-diamond" aria-hidden="true"></i> 100</h3>
                <p class="lead">
                  Keep track of your credit and get the most out of Perkbox.
                </p>
              </div>
              <div class="col-lg-5">
                <br>
              <br>
              <br>
              <br>
                <button class="btn btn-1 btn-primary float-right" type="button">Top Up Your Credit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>

<div class="section section-sm pt-lg-0 mt--200">
       <div class="container">
          
<hr>   

  <div class="row">
    <div class="col-md-8">
      <h4>Credit History</h4>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">22/3/2019</th>
            <td>Credit Reward from Your Manager</td>
            <td>+40 Credits</td>
          </tr>
          <tr>
            <th scope="row">21/3/2019</th>
            <td>Netflix Gift Card - 3 Months</td>
            <td>-20 Credits</td>
          </tr>
          <tr>
            <th scope="row">20/3/2019</th>
            <td>Company Top Up</td>
            <td>+80 Credits</td>
          </tr>
          <tr>
            <th scope="row">18/3/2019</th>
            <td>Cardlinked (Hopp)</td>
            <td>+2 Credits <span class="badge badge-pill badge-primary">Pending 2 days</span></td>
          </tr>
          <tr>
            <th scope="row">18/3/2019</th>
            <td>Cardlinked (Pret)</td>
            <td>+1 Credit <span class="badge badge-pill badge-primary">Pending 2 days</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-4">
      <div class="card shadow border-0">
                  <div class="card-body py-5">
                    <h4 class="">What is credit worth?</h4>
                      <ul class="list-unstyled mt-3">
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <h6 class="mb-0">1 Credit is worth £1 in our Marketplace.</u></a></h6>
                          </div>
                        </div></li>

                      </ul>  
                  </div>
                </div>
              <br>
      <div class="card shadow border-0">
                  <div class="card-body py-5">
                    <h4 class="">How to get more credit</h4>
                      <ul class="list-unstyled mt-3">
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-primary mr-3">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0">Manager recognition for <a href="#" class="text-default"><u>high performance</u></a></h6>
                            </div>
                          </div>
                        </li>
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-primary mr-3">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0"><a href="#" class="text-default"><u>Tenure &amp; loyalty</u></a> to your company</h6>
                            </div>
                          </div>
                        </li>
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-primary mr-3">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0"><a href="#" class="text-default"><u>Link your card</u></a> and accumulate credit while you spend locally</h6>
                            </div>
                          </div>
                        </li>
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-primary mr-3">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0"><a href="#" class="text-default"><u>Purchase your own</u></a> credits to spend on the platform</h6>
                            </div>
                          </div>
                        </li>
                      </ul>      
                  </div>
                </div>
                <br>

                <div class="card shadow border-0">
                  <div class="card-body py-5">
                    <h4 class="">Where to spend credit</h4>
                      <ul class="list-unstyled mt-3">
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-default mr-3">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0">Visit our <a class="text-default" href="/pages/market">


                              <u>Marketplace</u></a></h6>
                          </div>
                        </div></li>

                      </ul>  
                  </div>
                </div>
    </div>
  </div>
</div>
     
   
<br>


  </main>