<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 bg-gradient-primary">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row text-center justify-content-center">
              <div class="col-lg-7">
                <h1 class="display-3  text-white">Your Company Feed
                <div class="icon icon-shape icon-shape-white rounded-circle mb-4">
                      <i class="fa fa-list" aria-hidden="true"></i>
                    </h1>
                <p class="lead text-white">
                  Browse your feed to feel connected to your peers, celebrate successes and see what's going on. 
                </p>
                <button type="button" class="btn btn-white" data-toggle="modal" data-target="#exampleModal">Make Announcement</button>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>



    <div class="section section-lg pt-lg-0 mt--200">
           <div class="container">

                           <div class="row text-center justify-content-center">
                    <div class="col-md-12">
                      <button type="button" class="btn btn-outline-white">You</button>
                      <button type="button" class="btn btn-outline-white">Your Team</button>
                      <button type="button" class="btn btn-outline-white active">Your Company</button>
                    </div>
                </div>
</br>
</br>

                <div class="row justify-content-center">
                    <div class="col-md-6">
                      
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-md-2">
                              <span class="avatar avatar-lg rounded-circle">
                                <%= image_tag "louise.jpg" %>
                              </span>
                            </div>
                            <div class="col-md-10">
                              <h4>We've got an issues with Slack Communication</h4>
                              <p class="text-muted small">Survey feedback from Louise Jones · 2 days ago</p>
                              <p class="lead">
                                Thanks for filling out the surveys last week. Clearly Slack isn't working for us right now. Ricky is going to be running some workshops this week to understand more.
                              </p>

                               <a href="#" class="btn btn-secondary mt-4">See when next survey is scheduled</a>
                            </div>
                          </div>
                        </div>
                      </div> <!-- end card -->
                      <br>

                

                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-md-2">
                              <span class="avatar avatar-lg rounded-circle">
                                <%= image_tag "rob.jpg" %>
                              </span>
                            </div>
                            <div class="col-md-10">
                              <h4>Winners Dinner</h4>
                              <p class="text-muted small">Performance-Based Perk created by Rob Blackler · 2 days ago</p>
                              <p class="lead">
                                If the sales team smash their targets and do what we need, they'll be off to Glasgow for some delicious scottish treats. Good luck one and all!
                              </p>

                               <a href="#" class="btn btn-secondary mt-4">See more</a>
                               <a href="#" class="btn btn-primary mt-4">Add Comment</a>
                            </div>
                          </div>
                        </div>
                      </div> <!-- end card -->
                      <br>

                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-md-2">
                              <span class="avatar avatar-lg rounded-circle">
                                <%= image_tag "louise.jpg" %>
                              </span>
                            </div>
                            <div class="col-md-10">
                              <h4>Yoga in da house!</h4>
                              <p class="text-muted small">Company Perk added by Louise Jones · 2 days ago</p>
                              <p class="lead">
                                We've been hearing that you guys want access to things to help you relax around the office, so we've added Yoga classes to the Perks. It's 1 credit and will be running throughout March.
                              </p>

                               <a href="#" class="btn btn-secondary mt-4">View Perk</a>
                               <a href="#" class="btn btn-primary mt-4">Redeem Perk</a>
                            </div>
                          </div>
                        </div>
                      </div> <!-- end card -->
 


                    </div>
                </div>
                <br>
                
                <div class="row">
        <div class="col-lg-6 offset-lg-3 py-5 d-flex">
            <ul class="pagination mx-auto">
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

               

                




  </main>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
  <div class="modal-header">
    <h6 class="modal-title" id="modal-title-default">Make Announcement</h6>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex px-3">
            <div class="pl-4">
              <h5 class="title text-default">Companywide</h5>
              <p>Give someone a shout out or share an important message.</p>
              <button type="button" class="btn btn-primary">Let's go</button>
            </div>
            <hr>
          </div>
        </div>
      </div>
        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="d-flex px-3">
              <div class="pl-4">
                <h5 class="title text-default">For your team</h5>
                <p>Give someone a shout out or share an important message.</p>
                 <button type="button" class="btn btn-primary">Let's go</button>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
        <div class="modal-footer">
                          <button type="button" class="btn btn-link  ml-auto" data-dismiss="modal">Close</button>
                        </div>



        
      </div>
    </div>
      </div>
    </div>