<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
              <nav aria-label="breadcrumb bg-white">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="<%= pages_feed2_path %>">Culture Hub</a>
                      <li class="breadcrumb-item active" aria-current="page">Feedback</li>
                    </ol>
                  </nav>
                <h1 class="">Feedback</h1>
                <p class="lead">
                  Send anonymous feedback to your manager or company, so you can help create a culture you're proud to be part of.
                </p>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>
  <br>

<div class="section section-sm pt-lg-0 mt--200">
  <div class="container">
     <div class="row filters">
        <div class="col-lg-12">

          <div class="">
            <div class="row">
                    <div class="col-md-8">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Give Open Feedback</h4>
                          <p class="">You'll get the chance to give open feedback on whatever area of the husiness you'd like. All your feedback is anonymous and will be treated as such</p>
                          <a href="#">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>
              <br>

              <div class="">
            <div class="row">
                    <div class="col-md-8">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Answer A Short Pulse Survey</h4>
                          <p class="">Answer 5 quick questions on your experience at Perkbox. This will help us learn, grow and understand how to improve.</p>
                          <a href="#">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>

              <br>
              <br>
          
        </div>
      </div>
  </div>
</div>


  </main>