<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-8">
                <nav aria-label="breadcrumb bg-white">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="<%= pages_companyperks_path %>">Company Perks</a>
                      <li class="breadcrumb-item active" aria-current="page">Discounts Library</li>
                    </ol>
                  </nav>
                <h3 class=""><span class="">Discounts Library</h3>
                <p class="lead">
                  Redeem hundreds of discounts at local restaurants, retailers and high street brands. Link your card and earn back credit while you spend. <a href="#" class="btn btn-link text-primary">Learn more <i class="fa fa-angle-right"></i></a>
                </p>
              </div>
              <div class="col-lg-5">
                <h3 class="">
                  
                </h3>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>


    <div class="section section-sm pt-lg-0 mt--200">
           <div class="container">
               <div class="row filters">
                  <div class="col-lg-4">
                    <p>
                      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Type
                      </a>
                      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Category
                      </a>
                      
                    </p>
                    <div class="collapse" id="collapseExample1">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Instant Online Discount Codes (50)</label>
                            <p class="small text-muted">Redeem instant online discount codes</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck2" type="checkbox">
                            <label class="custom-control-label" for="customCheck2">In-Store Discount Codes (20)</label>
                            <p class="small text-muted">Redeem physical discount codes for use in-store</p>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    
                    <div class="collapse" id="collapseExample2">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                                  <label class="custom-control-label" for="customCheck6">Health & Wellbeing (50)</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck7" type="checkbox">
                                  <label class="custom-control-label" for="customCheck7">Experiences (20)</label>
                                  
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck8" type="checkbox">
                                  <label class="custom-control-label" for="customCheck8">Holiday & Travel (12)</label>
                                
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck9" type="checkbox">
                                  <label class="custom-control-label" for="customCheck9">Children's Perks (10)</label>
                                  
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Services (11)</label>
                                   
                                </div>

                              </div>

                              <div class="col-lg-6">
                                
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck10" type="checkbox">
                                  <label class="custom-control-label" for="customCheck10">Food & Drink (15)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Fashion & Beauty (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck12" type="checkbox">
                                  <label class="custom-control-label" for="customCheck12">Home & Technology (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck13" type="checkbox">
                                  <label class="custom-control-label" for="customCheck13">Entertainment (14)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck14" type="checkbox">
                                  <label class="custom-control-label" for="customCheck14">Pets (9)</label>
                                   
                                </div>
                            </div>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-5 bill">
                  <p class="float-right align-bottom">Showing 6 of 200 Discounts</p>
                </div>
              </div>
<hr>
<div class="row">
  <div class="col-lg-6">
    <h4>Recommended for you</h4>
  </div>
  <div class="col-lg-6">
    <a class="btn btn-link text-primary float-right" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                        Sort By<i class="fa fa-angle-down"></i>
    </a>
    <div class="collapse" id="collapseExample3">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
                            <label class="custom-control-label" for="customRadio1">
                              <span>Most Popular</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio2" type="radio">
                            <label class="custom-control-label" for="customRadio2">
                              <span>Largest Discount</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Recently Added</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
                            <label class="custom-control-label" for="customRadio5">
                              <span>Alphabetical</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio4" type="radio">
                            <label class="custom-control-label" for="customRadio4">
                              <span>Location</span>
                              <div class="form-group">
                                <input type="name" class="bill form-control form-control-alternative" id="exampleFormControlInput1" placeholder="enter your postcode">
                              </div>
                            </label>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
  </div>
</div>

                <div class="row text-center justify-content-center">
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <%= image_tag "bills.jpg",:class => "card-img-top" %>
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">In-Store Discount Code</span>
                          <p class="lead text-italic">Bill's Restaurant</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                          
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <%= image_tag "apple.jpg",:class => "card-img-top" %>
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">Instant Online Discount Code</span>
                          <p class="lead text-italic">Apple</p>
                          <h4 class="display-3 font-weight-bold">20% Off</h4>
                          
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <%= image_tag "pret2.jpg",:class => "card-img-top bill" %>
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">In-Store Discount Code</span>
                          <p class="lead text-italic">Pret A Manger</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>
<br>
<br>
<div class="row">
  <div class="col-lg-12">
    <h4>Redeem it again <a href="#" class="btn btn-link text-primary float-right">See all <i class="fa fa-angle-right"></i></a></h4>
    <br>
  </div>
</div>

                <div class="row text-center justify-content-center">
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <img src="https://via.placeholder.com/728x500.png" class="card-img-top">
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">Instant Online Discount Code</span>
                          <p class="lead text-italic">Apple</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <img src="https://via.placeholder.com/728x500.png" class="card-img-top">
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">Instant Online Discount Code</span>
                          <p class="lead text-italic">Cineworld</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <img src="https://via.placeholder.com/728x500.png" class="card-img-top">
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">In-Store Discount Code</span>
                          <p class="lead text-italic">Bill's Restaurant</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                        </blockquote>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>


                <br>
<br>

<section class="section section-md pt-0">
        <div class="card bg-gradient-primary shadow-lg border-0">
          <div class="p-5">
            <div class="row align-items-center">
              <div class="col-lg-8">
                <h3 class="text-white">Tired of dealing with discount codes?</h3>
                <p class="lead text-white mt-3">We've teamed up with local restaurants and retailers near you. If you link your card with us, just spend as you normally would and accumalate credit to spend in our marketplace. Simple.</p>
              </div>
              <div class="col-lg-3 ml-lg-auto">
                <a href="https://www.creative-tim.com/product/argon-design-system" class="btn btn-lg btn-block btn-white">Learn more</a>
              </div>
            </div>
          </div>
        </div>
    </section>

<div class="row">
  <div class="col-lg-12">
    <h4>Discounts at locations near you <a href="#" class="btn btn-link text-primary">Postcode: W4 5TH </a> <a href="#" class="btn btn-link text-primary float-right">See all <i class="fa fa-angle-right"></i></a></h4>
    <br>
  </div>
</div>

                <div class="row text-center justify-content-center">
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <img src="https://via.placeholder.com/728x500.png" class="card-img-top">
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">2 min walk</span>
                          <p class="lead text-italic">Bill's Restaurant</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                          <br>
                          <span class="badge badge-pill badge-success">Earn back credit</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <img src="https://via.placeholder.com/728x500.png" class="card-img-top">
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">15 min walk</span>
                          <p class="lead text-italic">Bob's Restaurant</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                          <br>
                          <span class="badge badge-pill badge-success">Earn back credit</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card card-lift--hover shadow border-0">
                        <img src="https://via.placeholder.com/728x500.png" class="card-img-top">
                        <blockquote class="card-blockquote">
                          <span class="badge badge-pill badge-secondary">12 min walk</span>
                          <p class="lead text-italic">Brian's Restaurant</p>
                          <h4 class="display-3 font-weight-bold">10% Off</h4>
                          <br>
                          <span class="badge badge-pill badge-success">Earn back credit</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Downvote"><i class="fa fa-thumbs-o-down mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                </div>

                <br>
<br>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button class="btn btn-secondary">Load More</button>
        </div>
      </div>
    </div>

             <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      




  </main>