<main>
  <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg bill section-shaped pb-100">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class=""> Credit Available · 10 </h3>
                <p class="lead">
                  Keep track of your credit and get the most out of Perkbox.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>




    

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">22/3/2019</th>
            <td>Reward from Paul Schulz</td>
            <td>+2 Credits</td>
          </tr>
          <tr>
            <th scope="row">21/3/2019</th>
            <td>Company Perk (1 day holiday)</td>
            <td>-1 Credits</td>
          </tr>
          <tr>
            <th scope="row">20/3/2019</th>
            <td>Company Top Up</td>
            <td>+8 Credits</td>
          </tr>
          <tr>
            <th scope="row">18/3/2019</th>
            <td>Cardlinked (Hopp)</td>
            <td>+1 Credit</td>
          </tr>
          <tr>
            <th scope="row">18/3/2019</th>
            <td>Cardlinked (Pret)</td>
            <td>+1 Credit <span class="badge badge-pill badge-warning">Pending 2 days</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="card shadow border-0">
                  <div class="card-body py-5">
                    <h6 class="text-uppercase"><strong>How to earn more credit</strong></h6>
                      <ul class="list-unstyled mt-3">
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-success mr-3">
                                <i class="fa fa-trophy" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0">Manager recognition for <a href="#" class="text-default"><u>high performance</u></a></h6>
                            </div>
                          </div>
                        </li>
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-success mr-3">
                                <i class="fa fa-smile-o" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0"><a href="#" class="text-default"><u>Tenure &amp; loyalty</u></a> to your company</h6>
                            </div>
                          </div>
                        </li>
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-success mr-3">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0"><a href="#" class="text-default"><u>Link your card</u></a> and accumulate while you spend</h6>
                            </div>
                          </div>
                        </li>
                      </ul>      
                  </div>
                </div>
                <br>

                <div class="card shadow border-0">
                  <div class="card-body py-5">
                    <h6 class="text-uppercase"><strong>How to spend your credit</strong></h6>
                      <ul class="list-unstyled mt-3">
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-warning mr-3">
                                <i class="fa fa-users" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0">Choose from your <a class="text-default" href="/pages/companyperks">


                              <u>company perks</u></a></h6>
                            </div>
                          </div>
                        </li>
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-warning mr-3">
                                <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0">Visit our <a class="text-default" href="/pages/market">


                              <u>marketplace</u></a></h6>
                          </div>
                        </div></li>
                        <li class="py-2">
                          <div class="d-flex align-items-center">
                            <div>
                              <div class="badge badge-circle badge-warning mr-3">
                                <i class="fa fa-gift" aria-hidden="true"></i>
                              </div>
                            </div>
                            <div>
                              <h6 class="mb-0">Purchase discounted <a class="text-default" href="/pages/market">


                              <u>giftcards</u></a></h6>
                            </div>
                          </div>
                        </li>
                      </ul>  
                  </div>
                </div>
    </div>
  </div>
</div>
     
   
<br>


  </main>