 <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="">My History</h3>
                <p class="lead">
                  Browse your previously redeemed financial discounts and perks.
                </p>
              </div>
              <div class="col-lg-5">
                <h3 class="">
                  
                </h3>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>


    <div class="section section-sm pt-lg-0 mt--200">
           <div class="container">
               <div class="row filters">
                  <div class="col-lg-7">
                    <p>
                      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Type
                      </a>
                      
                    </p>
                    <div class="collapse" id="collapseExample">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Redeemed but not used (4)</label>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck2" type="checkbox">
                            <label class="custom-control-label" for="customCheck2">Redeemed and used (10)</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample2">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
                            <label class="custom-control-label" for="customRadio1">
                              <span>Most Popular</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio2" type="radio">
                            <label class="custom-control-label" for="customRadio2">
                              <span>Credit Value</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Recently Added</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
                            <label class="custom-control-label" for="customRadio5">
                              <span>Alphabetical</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio4" type="radio">
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample1">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                                  <label class="custom-control-label" for="customCheck6">Work-Life Balance (2)</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck7" type="checkbox">
                                  <label class="custom-control-label" for="customCheck7">Travel & Experience (20)</label>
                                  
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck8" type="checkbox">
                                  <label class="custom-control-label" for="customCheck8">Growth & Development (12)</label>
                                
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck9" type="checkbox">
                                  <label class="custom-control-label" for="customCheck9">Health & Mindfulness (10)</label>
                                  
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Communication (11)</label>
                                   
                                </div>

                              </div>

                              <div class="col-lg-6">
                                
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck10" type="checkbox">
                                  <label class="custom-control-label" for="customCheck10">Manager Relationships (15)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Leadership (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck12" type="checkbox">
                                  <label class="custom-control-label" for="customCheck12">Teamwork (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck13" type="checkbox">
                                  <label class="custom-control-label" for="customCheck13">Career Opportunities (14)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck14" type="checkbox">
                                  <label class="custom-control-label" for="customCheck14">Meaningful Work (9)</label>
                                   
                                </div>
                            </div>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>


<br>
<br>

    


  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">22/3/2019</th>
            <td>Beauty Brand</td>
            <td><button class="btn btn-sm btn-secondary" type="button">View</button><button class="btn btn-sm btn-primary" type="button">Mark As Used</button></td>
          </tr>
          <tr>
            <th scope="row">21/3/2019</th>
            <td>1 Day Holiday</td>
            <td><button class="btn btn-sm btn-secondary" type="button">View</button><button class="btn btn-sm btn-primary" type="button">Mark As Used</button></td>
          </tr>
          <tr>
            <th scope="row">20/3/2019</th>
            <td>Cafe Nero</td>
            <td><button class="btn btn-sm btn-secondary" type="button">View</button><button class="btn btn-sm btn-primary" type="button">Mark As Used</button></td>
          </tr>
          <tr>
            <th scope="row">18/3/2019</th>
            <td>Cardlinked (Hopp)</td>
            <td><button class="btn btn-sm btn-secondary" type="button">View</button><button class="btn btn-sm btn-primary" type="button">Mark As Used</button></td>
          </tr>
          <tr>
            <th scope="row">18/3/2019</th>
            <td>Cardlinked (Pret)</td>
            <td><button class="btn btn-sm btn-secondary" type="button">View</button><button class="btn btn-sm btn-primary" type="button">Mark As Used</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">

    </div>
  </div>
</div>
     
   
<br>


  </main>