 <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 bg-gradient-primary">
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-9">
                <h3 class="text-white">The first perks platform to change the way your team works forever
                </h3>
                <br>
                <div class="bg text-white">
                  <ul>
                    <li>Show you really care</li>
                    <li>Get the most out of your people</li>
                    <li>Create a culture you’re proud of</li>
                  </ul>
                </div>
                <br>
                <div class="table-responsive">
                <table class="table table-bordered text-white small">
                  <thead>
                    <tr>
                      <th scope="col">Prototype</th>
                      <th scope="col">Scenario</th>
                      <th scope="col">Branding</th>
                      <th scope="col">Notes</th>
                      <th scope="col">Link</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>First time Spotify employee + personalised homepage + onboarding</td>
                      <td>Heavy company branding (Spotify)</td>
                      <td>Top navigation is all clickable, as well as in-page (right column Homepage + Company Hub). Clicking logo takes you to "returning user" flow</td>
                      <td><%= link_to pages_welcome4_path do %>
                          <button type="button" class="btn btn-lg btn-secondary btn-icon mb-3 mb-sm-0">Employee Flow 1</button>
                        <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Returning Spotify employee (company hub as homepage) - no onboarding</td>
                      <td>Heavy company branding (Spotify)</td>
                      <td>Only the main nav items are clickable (nothing in the "my profile" sections)</td>
                      <td><%= link_to pages_welcome9_path do %>
                    <button type="button" class="btn btn-lg btn-secondary btn-icon mb-3 mb-sm-0">Employee Flow 2</button>
                  <% end %>
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">3</th>
                      <td>First time Spotify employee + personalised homepage + onboarding</td>
                      <td>Light company branding (Obviously a Perkbox product)</td>
                      <td>Top navigation is all clickable, as well as in-page (right column Homepage + Company Hub). Clicking logo takes you to "returning user" flow</td>
                      <td><%= link_to pages_login3_path do %>
                    <button type="button" class="btn btn-lg btn-secondary btn-icon mb-3 mb-sm-0">Employee Flow 3</button>
                  <% end %>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <p class="text-white small">To restart prototype, scroll to the footer and click "restart prototype"</p>

                
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>
    
    
</body>