<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">The Perkbox Marketplace</h3>
                <p class="lead">
                  Look after your physical, emotional and financial wellbeing with access to hundreds of extras to choose from...
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>

    <div class="section section-sm pt-lg-0 mt--200">





  <div class="row">
      <div class="col-md-12">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                
                      <div class="container">
                      <hr>


                      <div class="row filters">
                  <div class="col-lg-5">
                    <p>
                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                        Type
                      </a>

                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Categories
                      </a>
                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                        Brands
                      </a>
                      
                    </p>
                            <div class="collapse" id="collapseExample1" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Under 15 Credits</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Trending</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Wellbeing</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Fitness</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck9" type="checkbox">
                                          <label class="custom-control-label" for="customCheck9">Food</label>
                                          
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Delivery</label>
                                           
                                        </div>

                                      </div>

                                      <div class="col-lg-6">
                                        
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck10" type="checkbox">
                                          <label class="custom-control-label" for="customCheck10">Education</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Home</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck12" type="checkbox">
                                          <label class="custom-control-label" for="customCheck12">Pet</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck13" type="checkbox">
                                          <label class="custom-control-label" for="customCheck13">Family</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck14" type="checkbox">
                                          <label class="custom-control-label" for="customCheck14">Transportation</label>
                                           
                                        </div>
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                         
                            
                            <div class="collapse" id="collapseExample2" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Asos</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Apple</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Brand</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck9" type="checkbox">
                                          <label class="custom-control-label" for="customCheck9">Etsy</label>
                                          
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Google</label>
                                           
                                        </div>

                                      </div>

                                      <div class="col-lg-6">
                                        
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck10" type="checkbox">
                                          <label class="custom-control-label" for="customCheck10">Holland & Barret</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck12" type="checkbox">
                                          <label class="custom-control-label" for="customCheck12">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck13" type="checkbox">
                                          <label class="custom-control-label" for="customCheck13">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck14" type="checkbox">
                                          <label class="custom-control-label" for="customCheck14">Brand</label>
                                           
                                        </div>
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                          

                          <div class="collapse" id="collapseExample3" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-12">

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Redeem</label>
                                          <p class="text-muted small">Redeem these items with positive behaviours, credit or cash</p>

                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Earn</label>
                                          <p class="text-muted small">Link your card and earn back credit as you spend</p>
                                          <p class="text-muted small"></p>
                                        </div>
                                        

                                        
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          


                        <div class="col-lg-7 bill">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Most Popular <i class="fa fa-angle-down"></i></button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Alphabetical</a>
                              <a class="dropdown-item" href="#">Nearest Me</a>
                              <a class="dropdown-item" href="#">Recently Added</a>
                            </div>
                          </div><!-- /btn-group -->
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow shadow border-0">
                              <blockquote class="card-blockquote">
                                <br>
                                <h4>Apple Music</h4>
                                <p class="text-muted">Free 3 Months Subscription</p>
                                <span class="badge badge-pill badge-primary">5 Valuable Company Feedback</span>
                                <br>
                            
                              </blockquote>
                            </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow shadow border-0">
                              <blockquote class="card-blockquote">
                                <br>
                                <h4>Fitbit</h4>
                                <p class="text-muted">Free Device</p>
                                <span class="badge badge-pill badge-primary">20000 Steps Needed</span>
                                <br>
                            
                              </blockquote>
                            </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Audible.com</h4>
                              <p class="text-muted">20% Off</p>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Asos</h4>
                              <p class="text-muted">10% Off</p>
                              <br>
                          </div>
                          <br>
                        </div>

                  
                      </div>
                  

                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Tesco</h4>
                              <p class="text-muted">20% Off</p>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Skillshare</h4>
                              <p class="text-muted">3 Month Free Subscription</p>
                              <span class="badge badge-pill badge-primary">Recognise 5 colleagues</span>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>

                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Lululemon</h4>
                              <p class="text-muted">10% Off</p>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>

                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Headspace</h4>
                              <p class="text-muted">Free lifetime subscription</p>
                              <span class="badge badge-pill badge-primary">Recognise 5 colleagues</span>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>


                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Youtube</h4>
                              <p class="text-muted">20% Off</p>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Bills Restaurant</h4>
                              <p class="text-muted">20% Off</p>
                              <br>
                          </div>
                          <br>
                        </div>

                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Game</h4>
                              <p class="text-muted">20% Off</p>
                              <br>
                          </div>
                          <br>
                        </div>

                         <div class="col-md-3">
                          <div class="card shadow  border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Franco Manca</h4>
                              <br>
                              <span class="badge badge-pill badge-primary credit" data-toggle="tooltip" data-placement="top" title="" data-original-title="Link your card and earn back credit when you spend in store"><i class="fa fa-map-pin" aria-hidden="true"></i> Earn Back Credit</span>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>

                         
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>GBK</h4>
                              <p class="text-muted">20% Off</p>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Adidas</h4>
                              <p class="text-muted">20% Off</p>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>

                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Netflix</h4>
                              <br>
                              <br>
                              <br>
                          </div>
                          <br>
                        </div>

                         <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Itsu</h4>
                              <br>
                              <span class="badge badge-pill badge-primary credit"><i class="fa fa-map-pin" aria-hidden="true"></i> Earn Back Credit</span>
                              <br>
                              </blockquote>
                          </div>
                          <br>
                        </div>

                        
                      


                        <div class="row text-center justify-content-center">
                          <div class="col-md-12">
                            <br>
                            <ul class="pagination">
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">3</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">4</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">5</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>





        
      
    </div>
  </div>





  </main>