<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Marketplace</h3>
                <p class="lead">
                  See all that Perkbox has to offer you!
                </p>
                <br>
                <br>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>

    <div class="section section-sm pt-lg-0 mt--200">
       <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="nav-wrapper">
              <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-text" role="tablist">
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0 active show" id="tabs-text-1-tab" data-toggle="tab" href="#tabs-text-1" role="tab" aria-controls="tabs-text-1" aria-selected="true"><i class="fa fa-percent"></i> Perkbox Discounts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-2-tab" data-toggle="tab" href="#tabs-text-2" role="tab" aria-controls="tabs-text-2" aria-selected="false"><i class="fa fa-credit-card" aria-hidden="true"></i> Perkbox Store</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link mb-sm-3 mb-md-0" id="tabs-text-3-tab" data-toggle="tab" href="#tabs-text-3" role="tab" aria-controls="tabs-text-3" aria-selected="false"><i class="fa fa-map-pin" aria-hidden="true"></i> Perkbox Go</a>
                </li>
              </ul>
            </div>
          </div>
        </div>




  <div class="row">
      <div class="col-md-12">
                  <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="tabs-text-1" role="tabpanel" aria-labelledby="tabs-text-1-tab">
                      <br>
                      <p class="lead">
                        Redeem 100s of discount codes to use online or in-store...
                      </p>
                      
                      <hr>


                      <div class="row filters">
                  <div class="col-lg-5">
                    <p>

                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Categories
                      </a>
                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                        Brands
                      </a>
                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                        Discount Type
                      </a>
                      
                    </p>
                            <div class="collapse" id="collapseExample1" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Health &amp; Wellbeing (50)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Experiences (20)</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Holiday &amp; Travel (12)</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck9" type="checkbox">
                                          <label class="custom-control-label" for="customCheck9">Children's Perks (10)</label>
                                          
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Services (11)</label>
                                           
                                        </div>

                                      </div>

                                      <div class="col-lg-6">
                                        
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck10" type="checkbox">
                                          <label class="custom-control-label" for="customCheck10">Food &amp; Drink (15)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Fashion &amp; Beauty (1)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck12" type="checkbox">
                                          <label class="custom-control-label" for="customCheck12">Home &amp; Technology (1)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck13" type="checkbox">
                                          <label class="custom-control-label" for="customCheck13">Entertainment (14)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck14" type="checkbox">
                                          <label class="custom-control-label" for="customCheck14">Pets (9)</label>
                                           
                                        </div>
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                         
                            
                            <div class="collapse" id="collapseExample2" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Asos</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Apple</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Brand</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck9" type="checkbox">
                                          <label class="custom-control-label" for="customCheck9">Etsy</label>
                                          
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Google</label>
                                           
                                        </div>

                                      </div>

                                      <div class="col-lg-6">
                                        
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck10" type="checkbox">
                                          <label class="custom-control-label" for="customCheck10">Holland & Barret</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck12" type="checkbox">
                                          <label class="custom-control-label" for="customCheck12">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck13" type="checkbox">
                                          <label class="custom-control-label" for="customCheck13">Brand</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck14" type="checkbox">
                                          <label class="custom-control-label" for="customCheck14">Brand</label>
                                           
                                        </div>
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                          

                          <div class="collapse" id="collapseExample3" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Online Discount Code</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">In Store Discount Code</label>
                                          
                                        </div>
                                        

                                        
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          


                        <div class="col-lg-7 bill">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Most Popular <i class="fa fa-angle-down"></i></button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Alphabetical</a>
                              <a class="dropdown-item" href="#">Nearest Me</a>
                              <a class="dropdown-item" href="#">Recently Added</a>
                            </div>
                          </div><!-- /btn-group -->
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Apple</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">20% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Asos</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">10% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code Online</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Bill's Restaurant</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">20% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                  <span class="badge badge-pill badge-primary">Use Code Online</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Blackberry</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">10% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                      </div>
                    </div>

                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Cineworld</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">20% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>

                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Chimichanga</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">30% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Carwow</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">30% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Ford</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">30% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">30% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">30% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">30% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                          <br>
                        </div>

                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">30% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
                        </div>


                        <div class="row text-center justify-content-center">
                          <div class="col-md-12">
                            <br>
                            <ul class="pagination">
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">3</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">4</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">5</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>





                    <div class="tab-pane fade" id="tabs-text-2" role="tabpanel" aria-labelledby="tabs-text-2-tab">
                      <br>
                      <div class="row filters">
                       <div class="col-lg-8">
                      <p class="lead">
                        Spend your credit on extras that matter to you - from your weekly shop to online courses. Top up as you go...
                      </p>
                    </div>
                  </div>
                      
                      <hr>


                      <div class="row filters">
                  <div class="col-lg-5">
                    <p>

                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Categories
                      </a>
                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
                        Type
                      </a>
                      <a class="btn btn-secondary collapsed btn-small" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
                        Value
                      </a>
                      
                    </p>
                            <div class="collapse" id="collapseExample1" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Health &amp; Wellbeing (50)</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Experiences (20)</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Holiday &amp; Travel (12)</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck9" type="checkbox">
                                          <label class="custom-control-label" for="customCheck9">Children's Perks (10)</label>
                                          
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Services (11)</label>
                                           
                                        </div>

                                      </div>

                                      <div class="col-lg-6">
                                        
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck10" type="checkbox">
                                          <label class="custom-control-label" for="customCheck10">Food &amp; Drink (15)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck11" type="checkbox">
                                          <label class="custom-control-label" for="customCheck11">Fashion &amp; Beauty (1)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck12" type="checkbox">
                                          <label class="custom-control-label" for="customCheck12">Home &amp; Technology (1)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck13" type="checkbox">
                                          <label class="custom-control-label" for="customCheck13">Entertainment (14)</label>
                                           
                                        </div>

                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck14" type="checkbox">
                                          <label class="custom-control-label" for="customCheck14">Pets (9)</label>
                                           
                                        </div>
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                         
                            
                            <div class="collapse" id="collapseExample2" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Online Courses</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Popular Subscriptions</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Apps</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck8" type="checkbox">
                                          <label class="custom-control-label" for="customCheck8">Discounted</label>
                                        
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck9" type="checkbox">
                                         
                                          
                                        </div>

                                       
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                          

                          <div class="collapse" id="collapseExample3" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-6">
                                        <div id="input-slider-range" data-range-value-min="100" data-range-value-max="500" class="noUi-target noUi-ltr noUi-horizontal"><div class="noUi-base"><div class="noUi-connects"><div class="noUi-connect" style="transform: translate(27.17391304347826%, 0px) scale(0.47826086956521735, 1);"></div></div><div class="noUi-origin" style="transform: translate(-72.82608695652173%, 0px); z-index: 5;"><div class="noUi-handle noUi-handle-lower" data-handle="0" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="0.0" aria-valuemax="75.0" aria-valuenow="27.2" aria-valuetext="208.70"></div></div><div class="noUi-origin" style="transform: translate(-25%, 0px); z-index: 4;"><div class="noUi-handle noUi-handle-upper" data-handle="1" tabindex="0" role="slider" aria-orientation="horizontal" aria-valuemin="27.2" aria-valuemax="100.0" aria-valuenow="75.0" aria-valuetext="400.00"></div></div></div></div>
                                        

                                        
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-link text-default">Clear</a>
                                  <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>
                          </div>
                         

                      


                          
                        <div class="col-lg-7 bill">
                          <div class="btn-group float-right">
                            <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Most Popular <i class="fa fa-angle-down"></i></button>
                            <div class="dropdown-menu dropdown-menu-right">
                              <a class="dropdown-item" href="#">Alphabetical</a>
                              <a class="dropdown-item" href="#">Nearest Me</a>
                              <a class="dropdown-item" href="#">Recently Added</a>
                            </div>
                          </div><!-- /btn-group -->
                        </div>
                      </div>
                      <br>
                      <br>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Asos</h4>
                              <p class="text-muted small">£50 Gift Card</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 50 Credits</span>
                    
                            </blockquote>
                            
                          </div>

                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Apple</h4>
                              <p class="text-muted small"> £30 Gift Card</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 30 Credits</span>
                    
                            </blockquote>
                           
                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Netflix</h4>
                              <p class="text-muted small">3 Month Subscription</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 20 Credits</span>
                    
                            </blockquote>
                            
                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Tesco</h4>
                              <p class="text-muted small">£30 Gift Card</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits</span>
                    
                            </blockquote>

                              
                          </div>
                          <br>
                        </div>
                      </div>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Youtube</h4>
                              <p class="text-muted small">3 Month Subscription</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits</span>
                    
                            </blockquote>

                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>DuoLingo</h4>
                              <p class="text-muted small">3 Month Subscription</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 20 Credits</span>
                    
                            </blockquote>
                            
                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Lynda.com</h4>
                              <p class="text-muted small">2 Month Subscription</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits</span>
                    
                            </blockquote>

                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Medical</h4>
                              <p class="text-muted small">1 year licence</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 100 Credits</span>
                    
                            </blockquote>
                              
                          </div>
                          <br>
                        </div>
                      </div>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">3 month subscription</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits</span>
                    
                            </blockquote>
                           
                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">3 month subscription</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits</span>
                    
                            </blockquote>
                           
                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">3 month subscription</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits</span>
                    
                            </blockquote>
                           
                              
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Brand</h4>
                              <p class="text-muted small">1 year licence</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 100 Credits</span>
                    
                            </blockquote>
                            
                              
                          </div>
                          <br>
                        </div>


                        <div class="row text-center justify-content-center">
                          <div class="col-md-12">
                            <br>
                            <ul class="pagination">
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">3</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">4</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">5</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>


                    <div class="tab-pane fade" id="tabs-text-3" role="tabpanel" aria-labelledby="tabs-text-3-tab">
                      <br>
                      <p class="lead">
                        Earn credit from destinations near you... while shopping or grabbing lunch
                      </p>
                      
                      <hr>

                      <div class="row">
                        <div class="col-lg-12">
                          <h4>Locations Near You <a href="#" class="btn btn-link text-primary">Postcode: W4 5TH </a></h4>
                          <p class="text-muted"><a href="url">Link your everyday card</a> and shop at these locations near you to earn back credit while you spend.</p>
                          <br>
                        </div>
                      </div>

                      <div class="row justify-content-center">
                        <div class="col-md-6">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19875.56172218275!2d-0.2829195110558246!3d51.48669694641805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760e706a4efbb9%3A0xc82f1958a39436ed!2sChiswick%2C+London!5e0!3m2!1sen!2suk!4v1553969253985!5m2!1sen!2suk" width="560" height="285" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                          <br>
                        </div>
                        <div class="col-md-6">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <p>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                                <br>
                              </p>
                            </blockquote>
                          </div>
                          <div class="container">
                            <div class="row">
                              <div class="col text-center">
                                <br>
                                <button class="btn btn-link text-primary">Show More <i class="fa fa-angle-down"></i></button>
                              </div>
                            </div>
                          </div>
                          <br>
                        </div>
                      </div>


                      
                      
                    







                    <div class="tab-pane fade" id="tabs-text-4" role="tabpanel" aria-labelledby="tabs-text-4-tab">
                      <br>
                      <p class="lead">
                        Earn credit near you while shopping, grabbing lunch or dinner...
                      </p>
                      
                      <hr>


                      
                      <br>
                      <br>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Cineworld</h4>
                              <p class="text-muted small">30% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Waterstones</h4>
                              <p class="text-muted small">10% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Hive</h4>
                              <p class="text-muted small">10% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Botanicals</h4>
                              <p class="text-muted small">20% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Cineworld</h4>
                              <p class="text-muted small">30% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Waterstones</h4>
                              <p class="text-muted small">10% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Hive</h4>
                              <p class="text-muted small">10% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Botanicals</h4>
                              <p class="text-muted small">20% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                        </div>
                      </div>
                      <div class="row text-center justify-content-center">
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Cineworld</h4>
                              <p class="text-muted small">30% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Waterstones</h4>
                              <p class="text-muted small">10% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Hive</h4>
                              <p class="text-muted small">10% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                          <br>
                        </div>
                        <div class="col-md-3">
                          <div class="card shadow border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Botanicals</h4>
                              <p class="text-muted small">20% Off</p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Discount Code</a>
                            </blockquote>
                          </div>
                        </div>


                        <div class="row text-center justify-content-center">
                          <div class="col-md-12">
                            <br>
                            <ul class="pagination">
                              <li class="page-item active">
                                <a class="page-link" href="#">1</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">2</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">3</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">4</a>
                              </li>
                              <li class="page-item">
                                <a class="page-link" href="#">5</a>
                              </li>
                            </ul>
                          </div>
                        </div>

                      </div>
                    </div>
                    </div>
                  </div>
                </div>
              </div>
        
      
    </div>
  </div>





  </main>