<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Marketplace</h3>
                <p class="lead">
                  We get that everyone is unique. Spend your credits on the things that matter most to you.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>
  <br>
  <br>  

<div class="section section-sm pt-lg-0 mt--200">
           <div class="container">
               <div class="row filters">
                  <div class="col-lg-5">
                    <p>

                      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Categories
                      </a>
                      
                    </p>
                    <div class="collapse" id="collapseExample1">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Gift Codes To Use Online</label>
                            <p class="small text-muted">Use your credit to purchase gift codes for online brands and services (e.g Netflix)</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Gift Codes To Use In Store</label>
                            <p class="small text-muted">Use your credit to purchase gift codes for offline brands and services (e.g Bill's Restaurant)</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck3" type="checkbox">
                            <label class="custom-control-label" for="customCheck3">Added by your Company</label>
                            <p class="small text-muted">Use your credit to purchase items added by your company</p>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    
                    <div class="collapse" id="collapseExample2">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                                  <label class="custom-control-label" for="customCheck6">Health & Wellbeing (50)</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck7" type="checkbox">
                                  <label class="custom-control-label" for="customCheck7">Experiences (20)</label>
                                  
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck8" type="checkbox">
                                  <label class="custom-control-label" for="customCheck8">Holiday & Travel (12)</label>
                                
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck9" type="checkbox">
                                  <label class="custom-control-label" for="customCheck9">Children's Perks (10)</label>
                                  
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Services (11)</label>
                                   
                                </div>

                              </div>

                              <div class="col-lg-6">
                                
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck10" type="checkbox">
                                  <label class="custom-control-label" for="customCheck10">Food & Drink (15)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Fashion & Beauty (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck12" type="checkbox">
                                  <label class="custom-control-label" for="customCheck12">Home & Technology (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck13" type="checkbox">
                                  <label class="custom-control-label" for="customCheck13">Entertainment (14)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck14" type="checkbox">
                                  <label class="custom-control-label" for="customCheck14">Pets (9)</label>
                                   
                                </div>
                            </div>
                          </div>
                          <br>
                          <a href="#" class="float-left btn btn-link text-default">Clear</a>
                          <a href="#" class="btn btn-link text-primary float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-7 bill">
                  <div class="btn-group float-right">
                    <button type="button" class="btn btn-link text-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort By <i class="fa fa-angle-down"></i></button>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="#">Most Popular</a>
                      <a class="dropdown-item" href="#">Credit Value</a>
                      <a class="dropdown-item" href="#">Recently Added</a>
                    </div>
                  </div><!-- /btn-group -->
                </div>
              </div>
          
<hr>

<div class="row">
  <div class="col-lg-12">
    <h3>Watched Items</h3>
    <br>
  </div>
</div>

<div class="row text-center justify-content-center">
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">30 Credits</span>
        <br>
        <br>
        <h4>Netflix</h4>
        <p class="text-muted small">3 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">30 Credits</span>
        <br>
        <br>
        <h4>Apple Music</h4>
        <p class="text-muted small">3 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">45 Credits</span>
        <br>
        <br>
        <h4>Youtube</h4>
        <p class="text-muted small">3 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">30 Credits</span>
        <br>
        <br>
        <h4>1 Day Holiday</h4>
        <p class="text-muted small">Added by Paul Schulz</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Learn More</a>
      </blockquote>
    </div>
    <br>
  </div>

<div class="container">
      <div class="row">
        <div class="col text-center">
          <br>
          <button class="btn btn-link text-primary">Show More <i class="fa fa-angle-down"></i></button>
        </div>
      </div>
    </div>
  </div>

<br>


<div class="row">
  <div class="col-lg-12">
    <h3>Added By Spotify</h3>
    <br>
  </div>
</div>

<div class="row text-center">
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">30 Credits</span>
        <br>
        <br>
        <h4>1 Day Holiday</h4>
        <p class="text-muted small">Added by Paul Schulz</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Learn More</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">15 Credits</span>
        <br>
        <br>
        <h4>1/2 Day Off</h4>
        <p class="text-muted small">Added by Paul Schulz</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Learn More</a>
      </blockquote>
    </div>
    <br>
  </div>
</div>
<br>

<div class="row">
  <div class="col-lg-12">
    <h3>Recommended For You</h3>
    <br>
  </div>
</div>

<div class="row text-center justify-content-center">
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">40 Credits</span>
        <br>
        <br>
        <h4>Duolingo</h4>
        <p class="text-muted small">6 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">20 Credits</span>
        <br>
        <br>
        <h4>Coursera</h4>
        <p class="text-muted small">2 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">40 Credits</span>
        <br>
        <br>
        <h4>Asos</h4>
        <p class="text-muted small">£50 Voucher</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">40 Credits</span>
        <br>
        <br>
        <h4>Amazon</h4>
        <p class="text-muted small">£50 Voucher</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>

<div class="container">
      <div class="row">
        <div class="col text-center">
          <br>
          <button class="btn btn-link text-primary">Show More <i class="fa fa-angle-down"></i></button>
        </div>
      </div>
    </div>
  </div>

<br>

<div class="row">
  <div class="col-lg-12">
    <h3>Popular</h3>
    <br>
  </div>
</div>

<div class="row text-center justify-content-center">
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">40 Credits</span>
        <br>
        <br>
        <h4>Skillshare</h4>
        <p class="text-muted small">6 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">20 Credits</span>
        <br>
        <br>
        <h4>Lynda</h4>
        <p class="text-muted small">2 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">40 Credits</span>
        <br>
        <br>
        <h4>CodeAcademy</h4>
        <p class="text-muted small">2 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">40 Credits</span>
        <br>
        <br>
        <h4>Apple</h4>
        <p class="text-muted small">£50 Voucher</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
    <br>
  </div>

<div class="container">
      <div class="row">
        <div class="col text-center">
          <br>
          <button class="btn btn-link text-primary">Show More <i class="fa fa-angle-down"></i></button>
        </div>
      </div>
    </div>
  </div>

  </main>