<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="">Marketplace</h3>
                <p class="lead">
                  Spend your credit on carefully curated online giftcards to help you help improve your wellbeing, both in and out of work.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>





    <div class="section section-lg pt-lg-0 mt--200">
           <div class="container">
               
<hr>
<div class="row row filters">
                  <div class="col-lg-7">
                    <p>
                      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Wellbeing
                      </a>
                      
                      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Category
                      </a>
                      <a class="btn btn-secondary" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample1">
                        Sort By
                      </a>
                    </p>
                    <div class="collapse" id="collapseExample1">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck2" type="checkbox">
                            <label class="custom-control-label" for="customCheck2">Physical Wellbeing</label>
                            <p class="small text-muted">Develop body awareness and feel in control of your health.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck1" type="checkbox">
                            <label class="custom-control-label" for="customCheck1">Emotional Wellbeing</label>
                            <p class="small text-muted">Decrease stress and become attentive to your thoughts, feelings and behaviors.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck3" type="checkbox">
                            <label class="custom-control-label" for="customCheck3">Financial Wellbeing</label>
                            <p class="small text-muted">Help your day-to-day finances with discounts on goods and services.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck4" type="checkbox">
                            <label class="custom-control-label" for="customCheck4">Occupational Wellbeing</label>
                            <p class="small text-muted">Enjoy your work and learn to balance it with your leisure time.</p>
                          </div>
                          <div class="custom-control custom-checkbox mb-3">
                            <input class="custom-control-input" id="customCheck5" type="checkbox">
                            <label class="custom-control-label" for="customCheck5">Creative Wellbeing</label>
                            <p class="small text-muted">Engage in stimulating creative and mental activities and develop your knowledge and skills.</p>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample3">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
                            <label class="custom-control-label" for="customRadio1">
                              <span>Most Popular</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Recently Added</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio3" type="radio">
                            <label class="custom-control-label" for="customRadio3">
                              <span>Credit Value</span>
                            </label>
                          </div>
                          <div class="custom-control custom-radio mb-3">
                            <input name="custom-radio-1" class="custom-control-input" id="customRadio5" type="radio">
                            <label class="custom-control-label" for="customRadio5">
                              <span>Alphabetical</span>
                            </label>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseExample2">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck6" type="checkbox">
                                  <label class="custom-control-label" for="customCheck6">Health & Wellbeing (50)</label>
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck7" type="checkbox">
                                  <label class="custom-control-label" for="customCheck7">Fitness (20)</label>
                                  
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck8" type="checkbox">
                                  <label class="custom-control-label" for="customCheck8">Language Learning (12)</label>
                                
                                </div>
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck9" type="checkbox">
                                  <label class="custom-control-label" for="customCheck9">Film & Entertainment (10)</label>
                                  
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Mindfulness & Meditation (11)</label>
                                   
                                </div>

                              </div>

                              <div class="col-lg-6">
                                
                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck10" type="checkbox">
                                  <label class="custom-control-label" for="customCheck10">Music (15)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Photography (1)</label>
                                   
                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                  <input class="custom-control-input" id="customCheck11" type="checkbox">
                                  <label class="custom-control-label" for="customCheck11">Fashion (1)</label>
                                   
                                </div>
                            </div>
                          </div>
                          <br>
                          <a href="#" class="float-left text-muted">Clear</a>
                          <a href="#" class="active float-right">Apply</a>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-lg-5">
                  <p class="float-right align-bottom"></p>
                </div>
              </div>
            <br>
<br>
<br>
<div class="row">
  <div class="col-lg-12">
    <h4>Physical Wellbeing<a href="#" class="btn btn-link text-primary float-right">See all <i class="fa fa-angle-right"></i></a></h4>
    <p class="text-muted">Develop body awareness and feel in control of your health.</p>
    <br>
  </div>
</div>

                <div class="row text-center justify-content-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>30 Day Fitness</h4>
                          <p class="text-muted small">6 Months Access</p>
                          <span class="badge badge-pill badge-primary text-uppercase">30 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Eye Tests</h4>
                          <p class="text-muted small">£50 Voucher</p>
                          <span class="badge badge-pill badge-primary text-uppercase">40 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Online Dentist</h4>
                          <p class="text-muted small">£50 Voucher</p>
                          <span class="badge badge-pill badge-primary text-uppercase">40 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Easy Gym</h4>
                          <p class="text-muted small">3 Month Pass</p>
                          <span class="badge badge-pill badge-primary text-uppercase">30 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br>
                  <br>
                  <br>

                  <div class="row">
                  <div class="col-lg-12">
                    <h4>Emotional Wellbeing<a href="#" class="btn btn-link text-primary float-right">See all <i class="fa fa-angle-right"></i></a></h4>
                     <p class="text-muted">Decrease stress and become attentive to your thoughts, feelings and behaviors.</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Mindfulness Daily</h4>
                          <p class="text-muted small">3 month code</p>
                          <span class="badge badge-pill badge-primary text-uppercase">10 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Therapy Chat</h4>
                          <p class="text-muted small">1 Session</p>
                          <span class="badge badge-pill badge-primary text-uppercase">60 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>BetterHelp</h4>
                          <p class="text-muted small">1 week access</p>
                          <span class="badge badge-pill badge-primary text-uppercase">50 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Headspace</h4>
                          <p class="text-muted small">3 months</p>
                          <span class="badge badge-pill badge-primary text-uppercase">30 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <br>
                  <br>
                  <br>

                <div class="row">
                  <div class="col-lg-12">
                    <h4>Financial Wellbeing<a href="#" class="btn btn-link text-primary float-right">See all <i class="fa fa-angle-right"></i></a></h4>
                    <p class="text-muted">Help your day-to-day finances with discounted giftcards.</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>£50 Giftcard</h4>
                          <p class="text-muted small">Tesco</p>
                          <span class="badge badge-pill badge-primary text-uppercase">40 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>£50 Giftcard</h4>
                          <p class="text-muted small">Apple</p>
                          <span class="badge badge-pill badge-primary text-uppercase">40 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>£100 Giftcard</h4>
                          <p class="text-muted small">Amazon</p>
                          <span class="badge badge-pill badge-primary text-uppercase">80 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>£100 Giftcard</h4>
                          <p class="text-muted small">Asos</p>
                          <span class="badge badge-pill badge-primary text-uppercase">80 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div> 
                  </div>
                  <br>
                  <br>
                  <br>
                  <div class="row">
                  <div class="col-lg-12">
                    <h4>Occupational Wellbeing <span class="badge badge-pill badge-success text-uppercase small">Added by your company</span></h4>
                    <p class="text-muted">Enjoy your work and learn to balance it with your leisure time.</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>1 Day Holiday</h4>
                          <p class="text-muted small">A day of your choosing</p>
                          <span class="badge badge-pill badge-primary text-uppercase small">40 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>10:30 starts</h4>
                          <p class="text-muted small">1 month of late starts</p>
                          <span class="badge badge-pill badge-primary text-uppercase small">60 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Leave early Friday</h4>
                          <p class="text-muted small">Clock off at 2pm</p>
                          <span class="badge badge-pill badge-primary text-uppercase small">20 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>   

                   <br>
                  <br>
                  <br>
                  <div class="row">
                  <div class="col-lg-12">
                    <h4>Creative Wellbeing</h4>
                    <p class="text-muted">Engage in stimulating creative and mental activities and develop your knowledge and skills.</p>
                    <br>
                  </div>
                </div>

                <div class="row text-center">
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Apple Music</h4>
                          <p class="text-muted small">1 year subscription</p>
                          <span class="badge badge-pill badge-primary text-uppercase small">60 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Amazon Prime</h4>
                          <p class="text-muted small">6 Month Subscription</p>
                          <span class="badge badge-pill badge-primary text-uppercase small">60 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Youtube</h4>
                          <p class="text-muted small">6 Month Subscription</p>
                          <span class="badge badge-pill badge-primary text-uppercase small">20 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="card card-lift--hover shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <br>
                          <h4>Ted Talks</h4>
                          <p class="text-muted small">6 Month Subscription</p>
                          <span class="badge badge-pill badge-primary text-uppercase small">30 Credits</span>
                        </blockquote>
                         <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="Share"><i class="fa fa-share-alt mr-3"></i></a>
                            <a class="active" data-toggle="tooltip" data-placement="top" title="Upvote"><i class="fa fa-thumbs-o-up mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i></a>
                             <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Watch item"><i class="fa fa-eye mr-3"></i></a>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>                 

                    
                




  </main>