<main>
    <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 bg-gradient-primary">
        </div>
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
               <div class="text-center">
                <small class="text-muted">Step 3 of 3</small>
              </div>
              <br>
              <h3 class="text-center">What do you value most at work?</h3>
              <p class="text-center">We strive to make your experience at work as good as it can be. Help us make better recommendations for you and your employer.</p>
              </div>
              <div class="card-body px-lg-6 py-lg-6">
                
                <div class="row">
                  <div class="col-lg-4 col-md-6">
                    <!-- Checkboxes -->
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck1" type="checkbox">
                      <label class="custom-control-label" for="customCheck1">
                        <span>Teamwork</span>
                      </label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck2" type="checkbox">
                      <label class="custom-control-label" for="customCheck2">
                        <span>Work Life Balance</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                    <!-- Checkboxes -->
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck3" type="checkbox">
                      <label class="custom-control-label" for="customCheck3">
                        <span>Communication</span>
                      </label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck4" type="checkbox">
                      <label class="custom-control-label" for="customCheck4">
                        <span>Culture & Diversity</span>
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-6 mt-4 mt-md-0">
                    <!-- Toggle buttons -->
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck5" type="checkbox">
                      <label class="custom-control-label" for="customCheck5">
                        <span>Growth & Development</span>
                      </label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck6" type="checkbox">
                      <label class="custom-control-label" for="customCheck6">
                        <span>Meaningful Work</span>
                      </label>
                    </div>
                  </div>

                </div>

                  <div class="btn-wrapper">
                  <div class="row justify-content-md-center">
                    <div class="btn-wrapper">
                      <%= link_to pages_welcome_path do %>
                        <button type="button" class="btn btn-primary mt-4">Save Interests</button>
                      <% end %>
                      <%= link_to pages_welcome_path do %>
                        <button type="button" class="btn btn-secondary mt-4">Skip</button>
                      <% end %>
                    </div>
                  </div>
                </div>
                  

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>