<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
              <nav aria-label="breadcrumb bg-white">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="<%= pages_feed2_path %>">Culture Hub</a>
                      <li class="breadcrumb-item active" aria-current="page">Recognise</li>
                    </ol>
                  </nav>
                <h1 class="">Recognise</h1>
                <p class="lead">
                  Time to make a colleague's day! Who has helped you out or done something amazing recently?
                </p>
                <hr>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>
  <br>

<div class="section section-sm pt-lg-0 mt--200">
  <div class="container">
     <div class="row filters">
        <div class="col-lg-12">

          <div class="">
            <div class="row">
                    <div class="col-md-8">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <form>
                <div class="form-group">
                  <label for="validationCustomUsername">Who would you like to recognise?</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupPrepend"><i class="fa fa-search-plus" aria-hidden="true"></i></span>
                      </div>
                      <input type="text" class="form-control" id="validationCustomUsername" placeholder="Start typing their name" aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">What would you like to recognise them for?</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Which company value did they embody?</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Zero Fear</option>
                    <option>Above & Beyond</option>
                    <option>Not A Job A Family</option>
                    <option>...</option>
                    <option>...</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">How would you like to recognise them?</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>Privately (this will only appear in the recipients feed)</option>
                    <option>Share With Your Team (this will appear in the team's feed)</option>
                    <option>Share With Everybody (this will appear in the company feed)</option>
                  </select>
                </div>
                <br>
                
                          <a href="/pages/companyperks">
                  <button type="button" class="btn btn-primary">Send recognition</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>
              <br>

             
              <br>
              <br>
          
        </div>
      </div>
  </div>
</div>


  </main>