<main>
  <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg bill section-shaped pb-100">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="">Recognition & Shoutouts</h3>
                <p class="lead">
                  Celebrate your successes. See who's recognised you or given you a public shout-out.
                </p>
              </div>
            </div>
            
          </div>
        </div>

      <div class="container">
        <hr>
      <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <p class="lead">
            Hey, you haven't been recognised yet as you've only just signed up. We'll notify you as soon as you are, fear not! <br><br>Go and check out your<a class="text-default" href="/pages/feed2"><u> Team Hub</u></a> to start connecting with your peers.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">

    </div>
  </div>
           
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>


  </main>

