<main>
  <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg bill section-shaped pb-100">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="">Badges</h3>
                <p class="lead">
                  Earn badges for product behaviours that help improve your wellbeing at work and earn credit as you go.
                </p>
              </div>
            </div>
            <hr>
          </div>
        </div>

      <div class="container">
        <div class="row">
                <div class="col-lg-2">
                  <img class="rounded-circle img-center img-fluid shadow shadow-lg--hover" src="/assets/Locked-9c048ae9f5ba3dd54b80e6500fb3cd4ef2fe0fe3d3f6937c8bc2a9f11fc1df81.jpg">
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Connect</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
                <div class="col-lg-2">
                  <img class="rounded-circle img-center img-fluid shadow shadow-lg--hover" src="/assets/Locked-9c048ae9f5ba3dd54b80e6500fb3cd4ef2fe0fe3d3f6937c8bc2a9f11fc1df81.jpg">
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Be Active</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <img class="rounded-circle img-center img-fluid shadow shadow-lg--hover" src="/assets/Locked-9c048ae9f5ba3dd54b80e6500fb3cd4ef2fe0fe3d3f6937c8bc2a9f11fc1df81.jpg">
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Take Notice</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <img class="rounded-circle img-center img-fluid shadow shadow-lg--hover" src="/assets/Locked-9c048ae9f5ba3dd54b80e6500fb3cd4ef2fe0fe3d3f6937c8bc2a9f11fc1df81.jpg">
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Keep Learning</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>
              <div class="col-lg-2">
                  <img class="rounded-circle img-center img-fluid shadow shadow-lg--hover" src="/assets/Locked-9c048ae9f5ba3dd54b80e6500fb3cd4ef2fe0fe3d3f6937c8bc2a9f11fc1df81.jpg">
                  <div class="pt-4 text-center">
                  <h5 class="title">
                    <span class="d-block mb-1">Give</span>
                  </h5>
                  <a href="#" class="btn btn-link text-primary">How to unlock <i class="fa fa-angle-right"></i></a>
                </div>
              </div>

              </div>
            </div>
            <br>
           
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>


  </main>

