<main>
  <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg bill section-shaped pb-100">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <h3 class="">Rewards & Recognition</h3>
                <p class="lead">
                  Celebrate your successes. See who's recognised you and what rewards you've been given by your company or manager.
                </p>
              </div>
            </div>
            
          </div>
        </div>

      <div class="container">
        <div class="row">
    <div class="col-md-10">
      <hr>
      <h4>History</h4>
      <br>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Message</th>
            <th scope="col">Company Value</th>
            <th scope="col">Who From</th>
            <th scope="col">Reward</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">22/3/2019</th>
            <td>You did a really great thing</td>
            <td>Zero Fear</td>
            <td>Your Colleague</td>
            <td>Pat on the back</td>
          </tr>
          <tr>
            <th scope="row">19/3/2019</th>
            <td>Amazing job, kudos</td>
            <td>Above & Beyond</td>
            <td>Your Colleague</td>
            <td>-</td>
          </tr>
          <tr>
            <th scope="row">17/3/2019</th>
            <td>Good work</td>
            <td>Zero Fear</td>
            <td>Your Manager</td>
            <td>50 Credits</td>
          </tr>
          <tr>
            <th scope="row">15/3/2019</th>
            <td>Really great job</td>
            <td>Zero Fear</td>
            <td>Your Manager</td>
            <td>Company Perk (1 Day Holiday)</td>
          </tr>
          <tr>
            <th scope="row">11/3/2019</th>
            <td>Really great job</td>
            <td>Not A Job A Family</td>
            <td>Your Manager</td>
            <td>Company Award</td>
          </tr>
        </tbody>
      </table>
    </div>
            
           
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>


  </main>

