  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 bg-gradient-default">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row text-center justify-content-center">
              <div class="col-lg-6">
                <h1 class="display-3  text-white">Welcome back, Paul
                </h1>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card bg-gradient-success shadow-lg border-0">
        <div class="card shadow border-0">
                <div class="card-body py-5">
                    <div class="row text-center justify-content-center">
                      <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                        <i class="fa fa-smile-o" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="row text-center justify-content-center">
                      <h6 class="text-success text-uppercase">Team Happiness Score</h6>
                    </div>
                    <div class="text-center justify-content-center">
                      <h1 class="">3.5/<span class="bill small text-muted">5</span></h1>
                      <button type="button" class="btn btn-secondary mt-4">Learn More</button>
                    </div>
                   </div>
                </div>
              </div>
<br>

<div class="card shadow border-0">
                <div class="card-body py-5">
                    <div class="row text-center justify-content-center">
                      <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                        <i class="fa fa-line-chart" aria-hidden="true"></i>
                      </div>
                    </div>
                    <div class="row text-center justify-content-center">
                      <h6 class="text-warning text-uppercase">Perkbox Product Usage</h6>
                    </div>
                    <div class="text-center justify-content-center">
                      <h1 class="">74%</h1>
                      <button type="button" class="btn btn-secondary mt-4">Learn More</button>
                    </div>
                   </div>
                </div>
          
            <br>
      <div class="card shadow shadow-lg--hover">
        <div class="card-body">
          <div class="d-flex">
            <div class="pl-4">
            <div class="row text-center justify-content-center">
              <h4 class="title text-defaut">Here's what you've missed</h4>
            </div>
                <hr>
                  <div class="row">
                    <div class="col-md-2">
                      <span class="avatar avatar-lg rounded-circle">
                        <%= image_tag "louise.jpg" %>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <h6 class="">We've got an issues with Slack Communication</h6>
                      <p class="text-muted small">Louise Jones · 2 days ago</p>
                      <a href="#" class="text-primary">See more</a> 
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-md-2">
                      <span class="avatar avatar-lg rounded-circle">
                        <%= image_tag "rob.jpg" %>
                      </span>
                    </div>
                    <div class="col-md-10">
                      <h6>Winners Dinner</h6>
                        <p class="text-muted small">Rob Blackler · 2 days ago</p>
                      <a href="#" class="text-primary">See more</a> 
                    </div>
                  </div>
                  <hr>
                
              <div class="row text-center justify-content-center">
                <a href="#" class="text-primary">See more</a>
              </div>
            </div>
          </div>
        </div>
      </div>


      <br>

      <div class="card shadow border-0">
        <div class="card-body">
          <p class="card-text">
            <div class="row text-center justify-content-center">
              <h4 class="title text-defaut">New Company Perks</h4>
            </div>
          </p>
          <div class="row text-center justify-content-center">
            <div class="col-md-6">
              <div class="card-body">
                <span class="badge badge-pill badge-primary">1 Credit</span>
                <br>
                <br>
                <h4>1 Day Holiday</h4>
                <p class="text-muted small">Added by Louise</p>
                <a href="#" class="btn btn-primary mt-4">Redeem</a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="card-body">
                <span class="badge badge-pill badge-primary">1 Credit</span>
                <br>
                <br>
                <h4>£50 Amazon Voucher</h4>
                <p class="text-muted small">Added by Louise</p>
                <a href="#" class="btn btn-primary mt-4">Redeem</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br>

     


       </div> 

    <div class="col-md-4">
      <div class="card bg-gradient-success shadow-lg border-0">
        <div class="card-body">
            <div class="pl-4">
              <div class="row text-center justify-content-center">
                <h4 class="title text-white">Outstanding Tasks</h4>
                <p class="text-white small">Get the most out of Perkbox</p>
              </div>
              <br>
              <div class="custom-control custom-checkbox mb-3 text-white">
                <input class="custom-control-input" id="customCheck3" type="checkbox">
                <label class="custom-control-label" for="customCheck3">Complete your survey </label>
              </div>
              <div class="custom-control custom-checkbox mb-3 text-white">
                <input class="custom-control-input" id="customCheck1" type="checkbox">
                <label class="custom-control-label" for="customCheck1">Upload Your Values </label>
              </div>
              <div class="custom-control custom-checkbox mb-3 text-white">
                <input class="custom-control-input" id="customCheck2" type="checkbox">
                <label class="custom-control-label" for="customCheck2">Link Your Card </label>
              </div>
                <br>
                <a href="#" class="text-white">Learn more</a>
              </div>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
</section>




  </main>