<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Hey, Joe</h3>
                <p class="lead">
                  Welcome back.
                </p>
              </div>
              <div class="col-lg-5">
                <br>
                <br>
                <br>
                  <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <span class="alert-inner--icon"><i class="ni ni-like-2"></i></span>
                    <span class="alert-inner--text"><%= link_to "New company announcement", pages_feed2_path, :class => "text-white" %></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>

<div class="section section-sm pt-lg-0 mt--200">
  <div class="container">
     <div class="row filters">
        <div class="col-lg-8">
          <hr>
          <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Company Perks <a href="/pages/companyperks">
                <button type="button" class="btn btn-link text-primary float-right">View Company Perks <i class="fa fa-angle-right"></i></button>
                </a></h4>
                <br>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row text-center justify-content-center">
                    <div class="col-md-4">
                      <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Medical</h4>
                              <p class="text-muted small">Access Online GP</p>
                              <span class="badge badge-pill badge-primary">Free Access</span>
                              
                    
                            </blockquote>
                            <div class="card-footer">
                                <p class="text-muted small"><i class="fa fa-diamond" aria-hidden="true"></i> Premium Perk</p>
                              </div>
                              
                          </div>
                      <br>
                    </div>

                    <div class="col-md-4">
                      <div class="card shadow card-lift--hover border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Sanctus</h4>
                          <p class="text-muted small">Online Mental Wellbeing</p>
                          <span class="badge badge-pill badge-primary">Free Access</span>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small"><i class="fa fa-diamond" aria-hidden="true"></i> Premium Perk</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow card-lift--hover border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Cinema</h4>
                          <p class="text-muted small">2 Free Cineworld Tickets</p>
                          <span class="badge badge-pill badge-primary">Free Access</span>
                        </blockquote>
                        <div class="card-footer">
                          <span class="">
                            <p class="text-muted small"><i class="fa fa-diamond" aria-hidden="true"></i> Premium Perk</p>
                          </span>
                        </div>
                      </div>
                      <br>
                    </div>
                </div>
              </div>

<br>
<br>
        

   <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Company Hub <a href="/pages/feed2">
                <button type="button" class="btn btn-link text-primary float-right">View Company Hub  <i class="fa fa-angle-right"></i></button>
                </a></h4>
                <br>
              </div>
            </div>
          </div>

<div class="">
            <div class="row">
                    <div class="col-md-6">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            
                            <div class="col-md-12">
                              <h4>Announcement</h4>
                              <p class="text-muted small">Survey feedback from HR Manager · 2 days ago</p>
                              <p class="lead">
                                Thanks for filling out the surveys last week...
                              </p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Read more</a>
                              
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

                             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
                          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
                        </div>
                      </div>
                      <br>
                    </div>

                    <div class="col-md-6">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            
                            <div class="col-md-12">
                              <h4>Recognition</h4>
                              <p class="text-muted small">Company Value from Your Manager · 2 days ago</p>
                              <p class="lead">
                                Hey, just a quick note that last week was the first...
                              </p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Read more</a>
                              
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

                             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
                          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                </div>

<br>
<br>

   <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Discover Perkbox <a href="/pages/market2">
                <button type="button" class="btn btn-link text-primary float-right">Discover Perkbox  <i class="fa fa-angle-right"></i></button>
                </a></h4>
                <br>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row text-center justify-content-center">
                    <div class="col-md-4">
                      <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Apple</h4>
                              <p class="text-muted small">Discount description</p>
                              <h5 class="">20% Off</h5>
                    
                            </blockquote>
                              <div class="card-footer">
                                <span class="">
                                  <span class="badge badge-pill badge-primary">Use Code In Store</span>
                                </span>
                              </div>
                          </div>
    <br>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Asos</h4>
                              <p class="text-muted small">£50 Gift Card</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 50 Credits</span>
                              <br>
                              <br>
                              <br>
                              <br>
                    
                            </blockquote>
                            
                          </div>
                      <br>
                    </div>
                    <div class="col-md-4">
                     <div class="card shadow card-lift--hover border-0">
                            <blockquote class="card-blockquote">
                              <br>
                              <h4>Tesco</h4>
                              <p class="text-muted small">£30 Gift Card</p>
                              <span class="badge badge-pill badge-default"><i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits</span>
                              <br>
                              <br>
                              <br>
                              <br>
                    
                            </blockquote>

                              
                          </div>
                      <br>
                    </div>
                </div>
              </div>
<br>
<br>
    
      </div>

  
       <div class="col-md-4 feed">
        <br>
      <div class="">
        <div class="card-body py-3">
          <h4 class="text-default">Recommended Tasks</h4>
          <p class="mt-3">Here's some things you can do to get the most out of the Spotify perks hub.</p>
          <ol>
            <li><strike>Complete your profile</strike></li>
            <li><strike>Learn about how credit works</strike></li>
            <li><a class="text-default" href="#"><u>Link your card</u></a></li>
            <li><a class="text-default" href="/pages/companyperks"><u>Redeem your first company perks</u></a></li>
            <li><a class="text-default" href="/pages/market2"><u>Explore the marketplace</u></a></li>
          </ol>
      </div>

      <hr>

     <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Credit</h6>
          <p class="description mt-3">You currently have <i class="fa fa-diamond" aria-hidden="true"></i> 100 credits.</p>
          <a href="/pages/credit">
                  <button type="button" class="btn btn-primary">View Credit History</button>
                </a>
        </div>

        <hr>
        

    </div>
  </div>
<hr>




  </main>