<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-12">
                <h2 class="">Welcome, Bill <span class="badge badge-pill badge-success text-uppercase small">You have 100 credits</span></h2>
                <hr>
                <br>
              </div>
        
              <hr>
</div>
            <div class="row">
              <div class="col-lg-12">
                <h4 class="text-center">Where would you like to begin?</h4>
                <br>
              </div>
              <div class="col-lg-5">
                <h3 class="">
                  
                </h3>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>
      <!-- 1st Hero Variation -->
    </div>
    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center row text-center justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card shadow border-0">
                  <div class="card-body py-7">
                    

                    <h4 class="">Perks</h>
                    <p class="text-muted">Access perks to help improve your wellbeing, both in and out of work.
                    </p>
                    <div>
                      
                    </div>
                    <%= link_to pages_companyperks_path do %>
                      <button type="button" class="btn btn-secondary mt-4">Let's Go</button>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card shadow border-0">
                  <div class="card-body py-7">
                    
                    <h4 class="">Marketplace</h6>
                    <p class="text-muted">Spend your credit on carefully curated gift codes to help you grow and improve.
                    </p>
                    <div>
                      
                    </div>
                    <%= link_to pages_market_path do %>
                      <button type="button" class="btn btn-secondary mt-4">Let's Go</button>
                    <% end %>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card shadow border-0">
                  <div class="card-body py-7">
                    
                    <h4 class="">Culture Hub</h4>
                    <p class="text-muted">Connect with your peers, celebrate successes and help create a great culture.
                    </p>
                    <%= link_to pages_feed_path do %>
                      <button type="button" class="btn btn-secondary mt-4">Let's Go</button>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  </main>