<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Hey, Bill</h3>
                <p class="lead">
                  Welcome to Perkbox. You're part of the Product & Engineering Team.</p>

                <p class=""> You have been given <a class="text-default" href="/pages/credit"><u><i class="fa fa-diamond" aria-hidden="true"></i> 100 Credits</u></a> by Your Company to get started.</p>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>

<div class="section section-sm pt-lg-0 mt--200">
  <div class="container">
     <div class="row filters">
        <div class="col-lg-8">
          <hr>
          <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Where would you like to begin?</h4>
                <br>
              </div>
            </div>
          </div>

           <div class="">
            <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Company Perks</h4>
                          <p class="lead">Checkout the perks your company have carefully curated for you.</p>
                          <br>
                          <a href="/pages/companyperks">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>
            <br>

            <div class="">
            <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Company Hub</h4>
                          <p class="lead">Company culture matters. Celebrate successes, have your say and be part of something bigger.</p>
                          <br>
                          <a href="/pages/feed2">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>
              <br>

          <div class="">
            <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>The Perkbox Marketplace</h4>
                          <p class="lead">
                            Look after your physical, emotional and financial wellbeing with access to hundreds of extras from our marketplace.                       
                            </p>
                          </ul>
                          <br>
                          <a href="/pages/market2">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>

              <br>
              <br>







<br>
<br>

    
      </div>

  
       <div class="col-md-4 feed">
        <br>
      <div class="">
        <div class="card-body py-3">
          <h4 class="text-default">Onboarding Tasks</h4>
          <p class="mt-3">Here's some things you can do to get the most out of the Spotify perks hub.</p>
          <ol>
            <li><a class="text-default" href="/pages/profile"><u>Learn about how credit works</u></li>
            <li><a class="text-default" href="/pages/market2"><u>Explore the marketplace</u></a></li>
            <li><a class="text-default" href="/pages/market2"><u>Recognise a colleague</u></a></li>
          </ol>
      </div>

      <hr>

      <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Credit</h6>
          <p class="description mt-3">You currently have 100 credits.</p>
          <a href="/pages/credit">
                  <button type="button" class="btn btn-primary">View You Credit</button>
                </a>
        </div>




    

      
<br>
<hr>
    </div>
  </div>
<hr>




  </main>