<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Hey, Bill</h3>
                <p class="lead">
                  Welcome to Perkbox. <span class="badge badge-pill badge-default text-uppercase small">You have 100 credits</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>

<div class="section section-sm pt-lg-0 mt--200">
  <div class="container">
     <div class="row filters">
        <div class="col-lg-8">
          <hr>
          <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Where could you like to begin?</h4>
                <br>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Company Perks</h4>
                          <p class="">We've put together a bunch of really cool perks that we hope will make working here as good as it can be.</p>
                          <a href="/pages/companyperks">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>

<br>
<br>

<div class="">
            <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Marketplace</h4>
                          <p class="">We get that everyone is unique. Spend your credits on the things that matter most to you.</p>
                          <a href="/pages/market2">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>

<br>
<br>

<div class="">
            <div class="row justify-content-center">
                    <div class="col-md-12">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Culture Hub</h4>
                          <p class="">We're all in this together. Celebrate successes and help create a great culture you're proud to be part of.</p>
                          <a href="/pages/feed2">
                  <button type="button" class="btn btn-primary">Let's Go</button>
                </a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>

<br>
<br>
    
      </div>

  
       <div class="col-md-4 feed">
        <br>
      <div class="">
        <div class="card-body py-3">
          <h4 class="text-default">Onboarding Tasks</h4>
          <p class="lead mt-3">Here's some things you can do to get the most out of Perkbox.</p>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck2" type="checkbox">
            <label class="custom-control-label" for="customCheck2">
              <span>Upload your work values</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck3" type="checkbox">
            <label class="custom-control-label" for="customCheck3">
              <span>Link your card</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck3" type="checkbox">
            <label class="custom-control-label" for="customCheck3">
              <span>Redeem a discount</span>
            </label>
          </div>
      </div>
      <a href="#" class="btn btn-link text-primary">Learn more <i class="fa fa-angle-right"></i></a>

      <hr>

      <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Credit</h6>
          <p class="description mt-3">You currently have 100 credits.</p>
          <a href="#" class="btn btn-primary mt-4 btn-block">View Credit History</a>
        </div>

        <hr>
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Awards</h6>
          <p class="description mt-3">You currently have no awards.</p>
          <a href="#" class="btn btn-primary mt-4 btn-block">Learn More</a>
        </div>
        <hr>
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Badges</h6>
          <p class="description mt-3">You currently have no badges</p>
          <a href="#" class="btn btn-primary mt-4 btn-block">Learn More</a>
        </div>



    

      
<br>
<hr>
    </div>
  </div>
<hr>




  </main>