  <main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-md section-shaped pb-50">
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row text-center justify-content-center">
              <div class="col-lg-6">
                <h1 class="display-3">Welcome to Perkbox, Bill
                </h1>
                <p class="lead">Watch this short video to see what we're all about and how to get the most out of our platform.
                </p>
                <br>
                <iframe width="500" height="315" src="https://www.youtube.com/embed/HPzpCZBogwA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col text-center">
              <%= link_to pages_welcome4_path do %>
                <button type="button" class="btn btn-primary">Let's Go</button>
              <% end %>
            </div>
          </div>
        </div>
    </section>

  </main>