<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-sm section-shaped pb-200">
        <div class="container py-lg-md small d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-lg-7">
                <br>
              <br>
              <br>
              <br>
                <h3 class="">Hey, Bill</h3>
                <p class="lead">
                  Welcome back to Perkbox. <span class="badge badge-pill badge-default text-uppercase small">You have 100 credits</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- SVG separator -->
      </section>
      <!-- 1st Hero Variation -->
    </div>

<div class="section section-sm pt-lg-0 mt--200">
  <div class="container">
     <div class="row filters">
        <div class="col-lg-8">
          <hr>
          <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Company Perks <a href="/pages/companyperks">
                <button type="button" class="btn btn-link text-primary float-right">View Company Perks <i class="fa fa-angle-right"></i></button>
                </a></h4>
                <br>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row text-center justify-content-center">
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Medical</h4>
                          <p class="text-muted small">Online GP Service</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Free Registration</a>
                        </blockquote>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Sanctus</h4>
                          <p class="text-muted small">Online Mental Wellbeing</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Free Registration</a>
                        </blockquote>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <h4>Cinema</h4>
                          <p class="text-muted small">2 Free Cineworld Tickets</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>

<br>
<br>
              <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Marketplace <a href="/pages/market2">
                <button type="button" class="btn btn-link text-primary float-right">View Marketplace  <i class="fa fa-angle-right"></i></button>
                </a></h4>
                <br>
              </div>
            </div>
          </div>

          <div class="">
            <div class="row text-center justify-content-center">
                    <div class="col-md-4">
                      <div class="card shadow border-0">
      <blockquote class="card-blockquote">
        <br>
        <span class="badge badge-pill badge-primary">30 Credits</span>
        <br>
        <br>
        <h4>Netflix</h4>
        <p class="text-muted small">3 Month Subscription</p>
        <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
      </blockquote>
    </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <span class="badge badge-pill badge-primary">45 Credits</span>
                          <br>
                          <br>
                          <h4>Youtube</h4>
                          <p class="text-muted small">3 Month Subscription</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
                        </blockquote>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <blockquote class="card-blockquote">
                          <br>
                          <span class="badge badge-pill badge-primary">45 Credits</span>
                          <br>
                          <br>
                          <h4>Spotify</h4>
                          <p class="text-muted small">3 Month Subscription</p>
                          <a href="#" class="btn btn-primary mt-4 btn-sm">Redeem Gift Code</a>
                        </blockquote>
                      </div>
                    </div>
                </div>
              </div>
<br>
<br>

   <div class="">
            <div class="row">
              <div class="col-lg-12">
                <h4>Culture Hub <a href="/pages/feed2">
                <button type="button" class="btn btn-link text-primary float-right">View Culture Hub  <i class="fa fa-angle-right"></i></button>
                </a></h4>
                <br>
              </div>
            </div>
          </div>

<div class="">
            <div class="row">
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            
                            <div class="col-md-12">
                              <h4>Announcement</h4>
                              <p class="text-muted small">Survey feedback from Louise Jones · 2 days ago</p>
                              <p class="lead">
                                Thanks for filling out the surveys last week...
                              </p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Read more</a>
                              
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

                             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
                          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            
                            <div class="col-md-12">
                              <h4>Recognition</h4>
                              <p class="text-muted small">Above & Beyond from Louise Jones · 2 days ago</p>
                              <p class="lead">
                                Hey, just a quick note that last week was the first...
                              </p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Read more</a>
                              
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

                             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
                          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            
                            <div class="col-md-12">
                              <h4>Poll</h4>
                              <p class="text-muted small">Company Awards from Chieu · 2 days ago</p>
                              <p class="lead">
                                Hey, please just take a couple of mins to vote for ...
                              </p>
                              <a href="#" class="btn btn-primary mt-4 btn-sm">Read more</a>
                              
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                          <span class="float-right">
                            <a data-toggle="tooltip" data-placement="top" title="" data-original-title="Add comment"><i class="fa fa-comments mr-3"></i>

                             </a><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"><i class="fa fa-smile-o mr-3"></i>
                          </a></span><a data-toggle="tooltip" data-placement="top" title="" data-original-title="Emoji"></a>
                        </div>
                      </div>
                    </div>
                </div>
              </div>

<br>
<br>
    
      </div>

  
       <div class="col-md-4 feed">
        <br>
      <div class="">
        <div class="card-body py-3">
          <h4 class="text-default">Outstanding Tasks</h4>
          <p class="lead mt-3">Make sure you get the most out of Perkbox.</p>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck2" type="checkbox">
            <label class="custom-control-label" for="customCheck2">
              <span>Upload your work values</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck3" type="checkbox">
            <label class="custom-control-label" for="customCheck3">
              <span>Link your card</span>
            </label>
          </div>
          <div class="custom-control custom-checkbox mb-3">
            <input class="custom-control-input" id="customCheck3" type="checkbox">
            <label class="custom-control-label" for="customCheck3">
              <span>Recognise a colleague</span>
            </label>
          </div>
      </div>
      <a href="#" class="btn btn-link text-primary">Learn more <i class="fa fa-angle-right"></i></a>

      <hr>

     <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Credit</h6>
          <p class="description mt-3">You currently have 100 credits.</p>
          <a href="/pages/credit">
                  <button type="button" class="btn btn-primary">View Credit History</button>
                </a>
        </div>

        <hr>
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Awards</h6>
          <p class="description mt-3">You currently have Above & Beyond.</p>
          <a href="/pages/trophies">
                  <button type="button" class="btn btn-primary">View Awards</button>
                </a>
        </div>
        <hr>
        <div class="card-body py-3">
          <h6 class="text-default text-uppercase">Your Badges</h6>
          <p class="description mt-3">You currently have no badges</p>
          <a href="/pages/trophies2">
                  <button type="button" class="btn btn-primary">Learn More</button>
                </a>
        </div>



    

      
<br>
<hr>
    </div>
  </div>
<hr>




  </main>